<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>328901179784-6bni7ofqfcqf9r2ugbr3jdd356ql6879.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.328901179784-6bni7ofqfcqf9r2ugbr3jdd356ql6879</string>
	<key>API_KEY</key>
	<string>AIzaSyCI2CWa3X2BixYQU5l1NO20G3rZ7lBVdxc</string>
	<key>GCM_SENDER_ID</key>
	<string>328901179784</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.floww</string>
	<key>PROJECT_ID</key>
	<string>floww-fitness</string>
	<key>STORAGE_BUCKET</key>
	<string>floww-fitness.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:328901179784:ios:1f3e0d4128fd440e91a23d</string>
</dict>
</plist>